* {
  background-color: rgba(253, 201, 188, 0.959);
  font-family: Arial, Helvetica, sans-serif;
  
}

.calendarWrapper {
  border: rgb(0, 0, 0) 2px solid;
  width: 525px;
  margin: 0 auto;
}

.calendarTitle {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  grid-column: span 7;
  border: rgb(2, 2, 2) 2px solid;
}

.calendar {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
}

.calendarCell {
  border: rgb(0, 0, 0) 2px solid;
  text-align: center;
  padding: 3px;
}

.blankDay {
  border: rgb(105, 105, 105) 2px solid;
  text-align: center;
  padding: 3px;
  background-color: rgb(105, 105, 105);
}
