.nightInWrapper {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  position: relative;
  top: 75px;
}
.icon {
  width: 20px;
  position: relative;
  top: -23px;
  right: -70px;
}
.inputBox {
  padding: 5px;
}
.submitButton {
  text-align: right;
}
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: silver;
  border-radius: 4px;
}
.error {
  background-color: red;
  color: white;
  font-size: small;
}
